@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1672593732975') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quxiaoquanping:before {
  content: "\eb10";
}

.icon-quanping:before {
  content: "\eb11";
}

.icon-taiyang:before {
  content: "\e60f";
}

.icon-yueliang:before {
  content: "\e611";
}

.icon-github:before {
  content: "\e64c";
}

